h1 {
    text-align: center;
    font-size: 90px;
};

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    border: 3px solid black;
};

#displayScore {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    border: 3px solid black;
}